*{
    background-color:  #4494fc;
}

.grid-container{
    display:grid;
    grid-template-columns:33% 66%;
    grid-template-rows:33% 66%;
}

header{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#artists{
    background-color:  #a7a4a4;
    margin-top: 2cm;
    margin-right: 10cm;
}

#genres{
    background-color:  #a7a4a4;
}


