#song.footer {
    text-align: center;
    font-family: monospace, Andalé Mono;
    font-size: 0.5cm;
}
#index.footer {
  text-align: center;
  font-family: monospace, Andalé Mono;
  font-size: 0.5cm;
}
#playlist.footer {
  text-align: center;
  font-family: monospace, Andalé Mono;
  font-size: 0.5cm;
}

#artists{
  font-family: monospace, Andalé Mono;
    background-color:  #a7a4a4;
}

#genres{
    font-family: monospace, Andalé Mono;
    background-color:  #a7a4a4;
}

th{
    cursor: pointer;
}

#song .item1 { grid-area: header; }
#song .item2 { grid-area: songInfo; }
#song .item3 { grid-area: radar; }
#song .footer { grid-area: footer; }

#song.grid-container{
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'songInfo songInfo radar radar radar radar'
    'songInfo songInfo radar radar radar radar'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

#song.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}
table, th, td {
    font-size:25px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    background: #2196F3;
    transition: background-color .2s ease-out 100ms
    }
table, td:hover{
  background-color: white;
}

#index .item1 { grid-area: header; }
#index .item2 { grid-area: search; }
#index .item4 { grid-area: browse; }
#index .footer { grid-area: footer; }
#index.grid-container{
      display: grid;
      grid-template-areas:
        'header header header header header header'
        'search browse browse browse browse browse'
        'footer footer footer footer footer footer';
      gap: 10px;
      background-color: #2196F3;
      padding: 10px;
    }
    
    #index.grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
    }
    
li{
  font-size: .8cm;
  list-style: none;
  border-color: black solid;
}